<footer class="footer">
  <div class="footer-container container">
    <div class="test-2">
      <div class="footer-main-text">
        <p class="footer-text">
          <span class="footer-text-2">Chocolate</span> a delicious cure for a
          bad day
        </p>
      </div>
      <div class="footer-contact">
        <ul class="footer-contact-list list">
          <li class="test-3">
            <p class="footer-contact-text-1">Contact us</p>
          </li>
          <div class="test-1">
            <li>
              <p class="footer-contact-text-2">+380 (68) 443-94-26</p>
            </li>
            <li>
              <p class="footer-contact-text-2">simplychoc@gmail.com</p>
            </li>
          </div>
        </ul>
        <div class="footer-networks-container">
          <ul class="footer-networks-list list">
            <li class="">
              <a class="link" href="">
                <svg class="footer-icon" width="22" height="22">
                  <use href="../img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="">
              <a class="link" href="">
                <svg class="footer-icon" width="22" height="22">
                  <use href="../img/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-menu">
      <ul class="footer-menu-list list link">
        <li class="">
          <p class="footer-menu-text">Home</p>
        </li>
        <li>
          <p class="footer-menu-text">How it's made?</p>
        </li>
        <li>
          <p class="footer-menu-text">Our products</p>
        </li>
        <li>
          <p class="footer-menu-text">Top sellers</p>
        </li>
        <li>
          <p class="footer-menu-text">Chocolate is loved</p>
        </li>
      </ul>
    </div>
  </div>
</footer>
