<header class="header">
  <div class="header-wrap container">
    <a class="header-logo-link" href="./index.html">
      <p class="header-logo-text"><span>SIMPLY </span>CHOCOLATE</p>
      <svg class="header-logo-icon">
        <use href="./img/icons.svg#icon-header-chocolate"></use></svg
    ></a>

    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item"><a href="#hero">Home</a></li>
        <li class="header-nav-item">
          <a href="#how-made">How it’s made?</a>
        </li>
        <li class="header-nav-item">
          <a href="#products">Our products</a>
        </li>
        <li class="header-nav-item">
          <a href="#top-sellers">Top sellers</a>
        </li>
        <li class="header-nav-item">
          <a href="#reviews">Chocolate is loved</a>
        </li>
      </ul>
    </nav>

    <ul class="header-soc-list">
      <li class="header-soc-item">
        <a
          class="header-soc-link"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="header-soc-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-soc-item">
        <a
          class="header-soc-link"
          href="https://twitter.com/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="header-soc-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button type="button" class="header-menu-open-btn" data-header-menu-open>
      <svg class="header-menu-open-icon">
        <use href="./img/icons.svg#icon-header-menu-open"></use>
      </svg>
    </button>
  </div>

  <div class="header-menu is-hidden" data-header-menu>
    <div class="header-menu-wrap">
      <div>
        <button
          type="button"
          class="header-menu-close-btn"
          data-header-menu-close
        >
          <svg class="header-menu-close-icon">
            <use href="./img/icons.svg#icon-close"></use>
          </svg>
        </button>
        <ul class="header-menu-list">
          <li class="header-menu-item"><a href="#hero">Home</a></li>
          <li class="header-menu-item">
            <a href="#how-made">How it’s made?</a>
          </li>
          <li class="header-menu-item">
            <a href="#products">Our products</a>
          </li>
          <li class="header-menu-item">
            <a href="#top-sellers">Top sellers</a>
          </li>
          <li class="header-menu-item">
            <a href="#reviews">Chocolate is loved</a>
          </li>
        </ul>
      </div>
      <div>
        <ul class="header-menu-soc">
          <li class="header-menu-soc-item">
            <a
              href="https://www.instagram.com/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="header-menu-soc-icon" width="22" height="22">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="header-menu-soc-item">
            <a
              href="https://twitter.com/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="header-menu-soc-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
