<!-- Hero Stupak Vitalii -->
    <section class="hero">
      <div class="container">
        <h1 class="hero-title">Hero</h1>
        <div class="hero-box">
          <h2 class="hero-subtitle">
            Treat yourself or a loved one to our finest ingredients for a moment
            of pure delight!
          </h2>
          <div class="hero-btn-flex">
            <div class="hero-btns">
              <button class="button js-open-modal" type="button" data-modal="modal-buy-now">Buy now</button>
              <!--якір для секції How it's made -->
              <a class="button hero-btn" href="#howitsmade">How it's made</a>
            </div>
  
            
              
              <a class="hero-btn-scroll" href="#footer">
                <p class="hero-scroll-text">scroll down</p>
              <!--якір для футера -->
                <svg class="hero-scroll-icon">
                  <use href="./img/hero/icons.svg#icon-angle-small"></use>
                </svg>
              </a>
            
          </div >
        </div>
      </div>
    </section>