<section class="how-made-section section" id="how-made">
  <div class="how-made-container container">
    <h2 class="how-made-title title">
      HOW IT'S <span class="title-accent-color">MADE?</span>
    </h2>

    <div class="how-made-box">
      <div class="how-made-video-box">
        <div class="video-container">
          <div class="poster-container">
            <picture class="how-made-poster">
              <source
                media="(min-width: 1200px)"
                srcset="
                  ../img/how-made/desktop-poster.jpg,
                  ../img/how-made/desktop-poster@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ../img/how-made/tablet-poster.jpg,
                  ../img/how-made/tablet-poster@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ../img/how-made/mobile-poster.jpg,
                  ../img/how-made/mobile-poster@2x.jpg 2x
                "
              />
              <img src="mobile-poster.jpg" alt="Poster Image" />
            </picture>
          </div>
          <iframe
            class="how-made-video"
            src="https://www.youtube-nocookie.com/embed/VXIsfa67PS8"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <div class="how-made-text-box">
        <p class="how-made-text">
          Try our chocolates today and discover the perfect balance of flavor
        </p>
        <ul class="how-made-list">
          <li class="how-made-item item">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="how-made-item item">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="how-made-item item">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="how-made-item item">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="how-made-item item">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
