<section class="how-made-section section">
  <div class="how-made-container container">
    <h2 class="how-made-title title">
      HOW IT'S <span class="title-accent-color">MADE?</span>
    </h2>
    <div class="how-made-box">
      <div class="how-made-video-box">
        <iframe
          class="how-made-video"
          width="100%"
          src="https://www.youtube-nocookie.com/embed/VXIsfa67PS8"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
        <picture>
          <source
            srcset="
              ../img/how-made/mobile-poster.jpg    1x,
              ../img/how-made/mobile-poster@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img src="../img/how-made/mobile-poster.jpg"
        </picture>
      </div>
      <div class="how-made-text-box">
        <p class="how-made-text">
          Try our chocolates today and discover the perfect balance of flavor
        </p>
        <ul class="how-made-list">
          <li class="how-made-item item">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="how-made-item item">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="how-made-item item">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="how-made-item item">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="how-made-item item">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
