<section class="how-made-section section" id="how-made">
  <div class="how-made-container container">
    <h2 class="how-made-title title">
      HOW IT’S <span class="title-accent-color">MADE?</span>
    </h2>

    <div class="how-made-box">
      <div class="how-made-video-box">
        <div class="video-container">
          <iframe
            class="how-made-video"
            src="https://www.youtube-nocookie.com/embed/VXIsfa67PS8"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
          <div
            class="poster-container"
            data-how-made-push-play
            data-how-made-hide
          >
            <picture class="how-made-poster">
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./img/how-made/desktop-poster.jpg,
                  ./img/how-made/desktop-poster@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/how-made/tablet-poster.jpg,
                  ./img/how-made/tablet-poster@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/how-made/mobile-poster.jpg,
                  ./img/how-made/mobile-poster@2x.jpg 2x
                "
              />
              <img src="mobile-poster.jpg" alt="Poster Image" /> </picture
            ><svg class="how-made-play-icon" width="44px" height="44px">
              <use href="./img/icons.svg#icon-video-play"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="how-made-text-box">
        <p class="how-made-text">
          Try our chocolates today and<br />
          discover the perfect balance of flavor
        </p>
        <ul class="how-made-list">
          <li class="how-made-item item">
            <p class="how-made-pretext">
              Heat the milk in a saucepan without bringing it to a boil. Add
              sugar and cocoa powder.
            </p>
          </li>
          <li class="how-made-item item">
            <p class="how-made-pretext">
              At the same time, prepare a water bath. Melt the butter on it.
            </p>
          </li>
          <li class="how-made-item item">
            <p class="how-made-pretext">
              "Mix" the milk mixture and already liquid butter. Mix thoroughly
              with a silicone spatula so that the mass becomes uniform and
              silky.
            </p>
          </li>
          <li class="how-made-item item">
            <p class="how-made-pretext">
              Heat the mixture over low heat, letting it barely boil.
            </p>
          </li>
          <li class="how-made-item item">
            <p class="how-made-pretext">
              Pour the chocolate into special containers (can be replaced with
              ice molds). Allow to cool and harden.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
