<div class="modal modal-review" data-modal="modal-review">
    <div class="modal-review-btn-wrap">
        <button type="button" class="modal-review-btn-close js-modal-close">
            <svg class="icon-close-modal js-modal-close">
                <use href="./img/icons.svg#icon-close"></use>
            </svg>
        </button>
    </div>
    <div class="modal-review-container">
        <h2 class="modal-review-title title">leave a review <br class="modal-review-line-break-title">
            about
            <span class="modal-review-title-accent">our
                chocolate</span>
        </h2>
        <form class="modal-review-form" required>
            <div class="modal-review-form-field">
                <input type="text" class="input-modal modal-review-text-input" name="name-review" placeholder="Name"
                    required pattern=".{2,20}" title="The number of characters should not exceed 20">
            </div>
            <div class="modal-review-form-field">
                <input type="email" class="input-modal modal-review-text-input" name="email-review"
                    placeholder="Enter your email" pattern=".{5,40}"
                    title="The number of characters should not be less than 5 and should not exceed 40" required>
            </div>
            <div class="modal-review-form-field">
                <div class="country-container"></div>
                <input type="tel" class="input-modal phone-input modal-review-text-input" name="tel-review"
                    placeholder="Phone number" pattern="^\+[0-9]{12}$" title="Number of digits should not be 12"
                    required>
            </div>
            <div class="modal-review-message-form-field">
                <textarea class="input-modal modal-review-message modal-review-text-input" name="message-review"
                    placeholder="Enter text" pattern="^[a-zA-Z]{5,500}"
                    title="The number of characters should not be less than 4 and should not exceed 500" minlength="4"
                    maxlength="500" required></textarea>
            </div>
            <button type="submit" class="button js-open-modal js-modal-close" data-modal="modal-feedback">Send</button>
        </form>
    </div>
</div>