<div class="modal-buynow">
  <button class="modal-buynow-close" type="button"></button>
  <div class="counteiner">
    <h2 class="buynow-title">BUY<span class="buynow-title-now">NOW</span></h2>
    <ul class="buynow-list">
      <li class="buynow-item">
        <img src="" alt="" class="buynow-img" />
        <button class="buynow-button" type="button">100 g</button>
      </li>
      <li class="buynow-item">
        <img src="" alt="" class="buynow-img" />
        <button class="buynow-button" type="button">200 g</button>
      </li>
      <li class="buynow-item">
        <img src="" alt="" class="buynow-img" />
        <button class="buynow-button" type="button">300 g</button>
      </li>
      <ul class="buynow-slider-list">
        <li class="buynow-slider-item">
          <button class="buynow-button-slider"></button>
        </li>
        <li class="buynow-slider-item">
          <button class="buynow-button-slider"></button>
        </li>
        <li class="buynow-slider-item">
          <button class="buynow-button-slider"></button>
        </li>
      </ul>
    </ul>
    <form class="buynow-form">
      <label for="name">Personal information</label>
      <input type="text" name="name" id="name" placeholder="Name" />
      <input type="text" name="name" id="name" placeholder="Surname" />
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Enter your email"
      />
      <label for="phone">Phone number</label>
      <input type="tel" name="phone" id="phone" placeholder="Phone number" />
      <label for="card">Card number</label>
      <input type="text" name="card" id="card" placeholder="Enter card" />
      <label for="com">Comment</label>
      <textarea name="comment" id="com" placeholder="Enter text"></textarea>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
