<div class="modal-buynow active" data-modal="modal-buy-now">
  <button class="modal-buynow-close" type="button">
    <svg class="buynow-close" width="24" height="24">
      <use href="../img/icons.svg#icon-modal-hero-close"></use>
    </svg>
  </button>
  <div class="buynow-counteiner">
    <h2 class="buynow-title title">
      BUY&nbsp;<span class="buynow-title-now">NOW</span>
    </h2>
    <ul class="buynow-list">
      <li class="buynow-item">
        <picture>
          <source
            type="image/webp"
            srcset="
              ../img/modal-buy-now/chocolate-kinder-tabdes.webp   1x,
              ../img/modal-buy-now/chocolate-kinder-tabdes2x.webp 2x
            "
            width="120"
            height="107"
            media="(min-width: 768px)"
          />
          <source
            type="image/webp"
            srcset="
              ../img/modal-buy-now/chocolate-kinder.webp   1x,
              ../img/modal-buy-now/chocolate-kinder2x.webp 2x
            "
            width="167"
            height="148"
            media="(max-width: 767px)"
          />
          <source
            type="image/png"
            srcset="
              ../img/modal-buy-now/chocolate-kinder-tabdes.png   1x,
              ../img/modal-buy-now/chocolate-kinder-tabdes2x.png 2x
            "
            width="120"
            height="107"
            media="(min-width: 768px)"
          />
          <source
            type="image/png"
            srcset="
              ../img/modal-buy-now/chocolate-kinder.png   1x,
              ../img/modal-buy-now/chocolate-kinder2x.png 2x
            "
            width="167"
            height="148"
            media="(max-width: 767px)"
          />

          <img
            src="../img/modal-buy-now/chocolate-kinder.png"
            alt="kinder"
            class="buynow-img"
            width="167"
            height="148"
          />
        </picture>
        <button class="products-btn" type="button">100 g</button>
      </li>
      <li class="buynow-item">
        <picture>
          <source
            type="image/webp"
            srcset="
              ../img/modal-buy-now/chocolate-praline-tabdes.webp   1x,
              ../img/modal-buy-now/chocolate-praline-tabdes2x.webp 2x
            "
            width="120"
            height="107"
            media="(min-width: 768px)"
          />
          <source
            type="image/webp"
            srcset="
              ../img/modal-buy-now/chocolate-praline.webp   1x,
              ../img/modal-buy-now/chocolate-praline2x.webp 2x
            "
            width="167"
            height="148"
            media="(max-width: 767px)"
          />
          <source
            type="image/png"
            srcset="
              ../img/modal-buy-now/chocolate-praline-tabdes.png   1x,
              ../img/modal-buy-now/chocolate-praline-tabdes2x.png 2x
            "
            width="120"
            height="107"
            media="(min-width: 768px)"
          />
          <source
            type="image/png"
            srcset="
              ../img/modal-buy-now/chocolate-praline.png   1x,
              ../img/modal-buy-now/chocolate-praline2x.png 2x
            "
            width="167"
            height="148"
            media="(max-width: 767px)"
          />

          <img
            src="../img/modal-buy-now/chocolate-praline.png"
            alt="praline"
            class="buynow-img"
            width="167"
            height="148"
          />
        </picture>
        <button class="products-btn" type="button">200 g</button>
      </li>
      <li class="buynow-item">
        <picture>
          <source
            type="image/webp"
            srcset="
              ../img/modal-buy-now/chocolate-dark-tabdes.webp   1x,
              ../img/modal-buy-now/chocolate-dark-tabdes2x.webp 2x
            "
            width="120"
            height="107"
            media="(min-width: 768px)"
          />
          <source
            type="image/webp"
            srcset="
              ../img/modal-buy-now/chocolate-dark.webp 1x,
              ../img/modal-buy-now/chocolate-dark.webp 2x
            "
            width="167"
            height="148"
            media="(max-width: 767px)"
          />
          <source
            type="image/png"
            srcset="
              ../img/modal-buy-now/chocolate-dark-tabdes.png   1x,
              ../img/modal-buy-now/chocolate-dark-tabdes2x.png 2x
            "
            width="120"
            height="107"
            media="(min-width: 768px)"
          />
          <source
            type="image/png"
            srcset="
              ../img/modal-buy-now/chocolate-dark.png   1x,
              ../img/modal-buy-now/chocolate-dark2x.png 2x
            "
            width="167"
            height="148"
            media="(max-width: 767px)"
          />

          <img
            src="../img/modal-buy-now/chocolate-dark.png"
            alt="dark"
            class="buynow-img"
            width="167"
            height="148"
          />
        </picture>
        <button class="products-btn" type="button">300 g</button>
      </li>
    </ul>
    <form class="buynow-form">
      <label class="label-buynow" for="name">Personal information</label>
      <div class="name-buynow">
        <input
          class="input-buynow buynow-marg"
          type="text"
          name="name"
          id="name"
          placeholder="Name"
        />
        <input
          class="input-buynow"
          type="text"
          name="name"
          id="name"
          placeholder="Surname"
        />
      </div>
      <label class="label-buynow" for="email">Email</label>
      <input
        class="input-buynow"
        type="email"
        name="email"
        id="email"
        placeholder="Enter your email"
      />
      <label class="label-buynow" for="phone">Phone number</label>
      <input
        class="input-buynow"
        type="tel"
        name="phone"
        id="phone"
        placeholder="Phone number"
      />
      <label class="label-buynow" for="card">Card number</label>
      <input
        class="input-buynow"
        type="text"
        name="card"
        id="card"
        placeholder="Enter card"
      />
      <label class="label-buynow" for="com">Comment</label>
      <textarea
        class="input-buynow buynow-comment"
        name="comment"
        id="com"
        placeholder="Enter text"
      ></textarea>
      <button class="button submit-buynow" type="submit">Submit</button>
    </form>
  </div>
</div>
