<div class="modal modal-leave-review" data-modal="modal-review">
    <div class="btn-wrap">
        <button type="button" class="btn-close-leave-review  js-modal-close">
            <svg class="icon-close-leave-review js-modal-close" width="24" height="24">
                <use href="./symbol-defs.svg#icon-btn-close-leave-review"></use>
            </svg>
        </button>
    </div>
    <div class="container-modal-leave-review">
        <h2 class="title-modal-leave-review">leave a review <br class="line-break-title-modal-leave-review"> about <span
                class="accent-title-modal-leave-review">our
                chocolate</span></h2>
        <form class="form-modal-leave-review">
            <div class="form-field-modal-leave-review">
                <input type="text" class="input-modal-leave-review text-input-modal-leave-review" name="name-review"
                    placeholder="Name" required>
            </div>
            <div class=" form-field-modal-leave-review">
                <input type="email" class="input-modal-leave-review text-input-modal-leave-review" name="email-review"
                    placeholder="Enter your email" required>
            </div>


            <div class="form-field-modal-leave-review">
                <div class="country-container"></div>
                <input type="tel" class="input-modal-leave-review phone-input text-input-modal-leave-review"
                    name="tel-review" placeholder="Phone number" required>
            </div>



            <div class="form-field-modal-leave-review message-form-field-modal-leave-review">
                <textarea class="message-modal-leave-review text-input-modal-leave-review" name="message-review"
                    placeholder="Enter text" required></textarea>
            </div>
            <button type="submit" class="btn-modal-review">Send</button>
        </form>
    </div>
</div>

<div class="overlay js-overlay-modal"></div>