<div class="backdrop is-hidden">
    <div class="modal-hero">
        <button type="button" class="modal-hero-close" >
        <svg class="modal-hero-close-icon" width="16" height="16">
            <use href="../img/symbol-defs.svg#icon-close-icon-mobile"></use>
        </svg>
    </button>
        <h2 class="modal-hero-title">Thank you!</h2>
        <p class="modal-hero-text">We are glad that you ordered our chocolate and we are giving you a 20% discount on all our products.</p>
    </div>
</div>   

<div class="backdrop is-hidden">
    <div class="modal-feedback">
        <button type="button" class="modal-feedback-close" >
        <svg class="modal-feedback-close-icon" width="16" height="16">
            <use href="../img/symbol-defs.svg#icon-close-icon-mobile"></use>
        </svg>
    </button>
        <h2 class="modal-feedback-title">Thank you for your feedback!</h2>
        <p class="modal-feedback-text">We are so happy to hear from you!</p>
    </div>
</div>   