  <div class="overlay js-overlay-modal active"></div>
  <div class="modal modal-subscribe active" data-modal="modal-subscribe">
    <button type="button" class="modal-subscribe-close js-modal-close">
      <svg class="modal-subscribe-close-icon" width="22" height="22">
        <use href="../img/icons.svg#icon-close"></use>
      </svg>
    </button>
        <h2 class="modal-subscribe-title">Explore our <br>
        <span class="accent">new chocolate</span> first!</h2>
        <form >
      <div class="modal-subscribe-wrap">
        <input class="modal-subscribe-input" type="email" placeholder="E-mail">
        <button type="submit" class="modal-subscribe-but">Submit</button>
        </div>
    </form>

    

  
