<section class="section">
  <div class="container products-container">
    <h2 class="title products-title">Our <span class="title-brand-color">products</span></h2>
    <ul class="products-grid products-slider">
      <li class="products-card">
        <img src="./img/products/img-product-1.jpg" width="230" height="201" />
        <h3 class="products-name">orange</h3>
        <p class="products-description">Dark chocolate</p>
        <button class="products-btn">45 UAH</button>
      </li>
      <li class="products-card">
        <img src="./img/products/img-product-2.jpg" width="230" height="201" />
        <h3 class="products-name">APPLE&CRANBERRY</h3>
        <p class="products-description">Milk chocolate</p>
        <button class="products-btn">50 UAH</button>
      </li>
      <li class="products-card">
        <img src="./img/products/img-product-3.jpg" width="230" height="201" />
        <h3 class="products-name">lime&sea salt</h3>
        <p class="products-description">Dark chocolate</p>
        <button class="products-btn">66 UAH</button>
      </li>
      <li class="products-card">
        <img src="./img/products/img-product-4.jpg" width="230" height="201" />
        <h3 class="products-name">pineapple</h3>
        <p class="products-description">Dark chocolate</p>
        <button class="products-btn">54 UAH</button>
      </li>
      <li class="products-card">
        <img src="./img/products/img-product-5.jpg" width="230" height="201" />
        <h3 class="products-name">Classic</h3>
        <p class="products-description">Milk chocolate</p>
        <button class="products-btn">45 UAH</button>
      </li>
      <li class="products-card">
        <img src="./img/products/img-product-6.jpg" width="230" height="201" />
        <h3 class="products-name">honey</h3>
        <p class="products-description">Milk chocolate</p>
        <button class="products-btn">50 UAH</button>
      </li>
      <li class="products-card">
        <img src="./img/products/img-product-7.jpg" width="230" height="201" />
        <h3 class="products-name">Roasted fruits</h3>
        <p class="products-description">Dark chocolate</p>
        <button class="products-btn">66 UAH</button>
      </li>
      <li class="products-card">
        <img src="./img/products/img-product-8.jpg" width="230" height="201" />
        <h3 class="products-name">Classic</h3>
        <p class="products-description">White chocolate</p>
        <button class="products-btn">54 UAH</button>
      </li>
    </ul>
  </div>
</section>


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, voluptate optio? Esse eligendi, explicabo maiores libero commodi aperiam omnis, nobis sint incidunt vel autem fugit quos unde dignissimos rem facilis.</p>