<section class="section-review section">
    <div class="container">
    <h2 class="review-title title"><span class="title title-brand-color">chocolate</span> is loved</h2>
    <ul class="review-list">
        <li class="review-item">
            <div>
                <h3 class="review-subtitle">Victoria Dobrzhanska</h3>
                <p class="review-text">I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.</p>
            </div>
        </li>
        <li>
            <div>
                <h3 class="review-subtitle">Nazar Babenko</h3>
                <p class="review-text">This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the chocolate is good.</p>
            </div>
        </li>
        <li>
            <div>
                <h3 class="review-subtitle">Olena Kampusch</h3>
                <p class="review-text"> Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft but crunchy.</p>
            </div>
        </li>
    </ul>
    <button type="button" class="review-btn button">Leave  a review</button>
</div>
</section> 