<section class="section-review section">
  <div class="container">
    <h2 class="review-title title">
      <span class="title title-brand-color">chocolate</span> is loved
    </h2>
    <ul class="review-list review-slider">
      <li class="review-item">
        <div class="review-wrap">
          <img
            class="reviewer-img"
            src="../img/review/victoria-dobrzhanska.png"
            alt="Lady"
            width="80"
            height="80"
          />
          <h3 class="review-subtitle">Victoria Dobrzhanska</h3>
        </div>
        <div class="review-response">
          <p class="review-text">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </div>
      </li>
      <li class="review-item">
        <div class="review-wrap">
          <img
            class="reviewer-img"
            src="../img/review/nazar-babenko.png"
            alt="Man"
            width="80"
            height="80"
          />
          <h3 class="review-subtitle">Nazar Babenko</h3>
        </div>
        <div class="review-response">
          <p class="review-text">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </div>
      </li>
      <li class="review-item">
        <div class="review-wrap">
          <img
            class="reviewer-img"
            src="../img/review/olena-kampusch.png"
            alt="Lady"
            width="80"
            height="80"
          />
          <h3 class="review-subtitle">Olena Kampusch</h3>
        </div>
        <div class="review-response">
          <p class="review-text">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </div>
      </li>
    </ul>

    <button type="button" class="review-btn button js-open-modal" data-modal="modal-review">Leave a review</button>
  </div>
</section>
