<section class="section-review section" id="reviews">
  <div class="container">
    <h2 class="review-title title">
      <span class="title title-brand-color">chocolate</span> is loved
    </h2>
    <div class="review-list slider review-slider">
      <div class="review-wrap">
        <img
          class="reviewer-img"
          srcset="
            ./img/review/victoria-dobrzhanska.png 1x,
            ./img/review/victoria-dobrzhanska-x2.png 2x
          "
          src="./img/review/victoria-dobrzhanska.png"
          alt="Customer"
          width="80"
          height="80"
        />
        <h3 class="review-subtitle">Victoria Dobrzhanska</h3>
        <p class="review-text">
          I love this chocolate bar. Perfect combination of light crispy wafer,
          covered in a thin layer chocolate.
        </p>
      </div>
      <div class="review-wrap">
        <img
          class="reviewer-img"
          srcset="
            ./img/review/nazar-babenko.png 1x,
            ./img/review/nazar-babenko-x2.png 2x
          "
          src="./img/review/nazar-babenko.png"
          alt="Customer"
          width="80"
          height="80"
        />
        <h3 class="review-subtitle">Nazar Babenko</h3>
        <p class="review-text">
          This chocolate confection is a delight! A delight! The wafer is light
          and crisp, the hazelnut cream is smooth, and the chocolate is good.
        </p>
      </div>
      <div class="review-wrap">
        <img
          class="reviewer-img"
          srcset="
          ./img/review/olena-kampusch.png 1x,
          ./img/review/olena-kampusch-x2.png 2x
        "
          src="./img/review/olena-kampusch.png"
          alt="Customer"
          width="80"
          height="80"
        />
        <h3 class="review-subtitle">Olena Kampusch</h3>
        <p class="review-text">
          Chocolate is a family favourite treat. Love the delicious smooth
          chocolate and the creaminess inside. The wafer is soft but crunchy.
        </p>
      </div>
      <div class="review-wrap">
        <img
          class="reviewer-img"
          srcset="
          ./img/review/natalia-sus.png 1x,
          ./img/review/natalia-sus-x2.png 2x
        "
          src="./img/review/natalia-sus.png"
          alt="Customer"
          width="80"
          height="80"
        />
        <h3 class="review-subtitle">Natalia Sus</h3>
        <p class="review-text">
          The chocolate assortment was delicious. Both dark and milk chocolate
          pieces were smooth and just right on the sweetness level.
        </p>
      </div>
      <div class="review-wrap">
        <img
          class="reviewer-img"
          srcset="
          ./img/review/danilo.png 1x,
          ./img/review/danilo-x2.png 2x
        "
          src="./img/review/danilo.png"
          alt="Customer"
          width="80"
          height="80"
        />
        <h3 class="review-subtitle">Danilo Nottingham</h3>
        <p class="review-text">
          This is delicious. It so rich and flavorful you dont need to use as
          many. I love topping an apple with almond butter and these chips for a
          snack.
        </p>
      </div>
      <div class="review-wrap">
        <img
          class="reviewer-img"
          srcset="
          ./img/review/irina-tydnyuk.png 1x,
          ./img/review/irina-tydnyuk-x2.png 2x
        "
          src="./img/review/irina-tydnyuk.png"
          alt="Customer"
          width="80"
          height="80"
        />
        <h3 class="review-subtitle">Irina Tydnyuk</h3>
        <p class="review-text">
          This is simply the best chocolate around, and I'm just thrilled to
          support a local company! Best local chocolate - world class :)
        </p>
      </div>
    </div>
    <button
      type="button"
      class="review-btn button js-open-modal"
      data-modal="modal-review"
    >
      Leave a review
    </button>
  </div>
</section>
