<section>
  <h2>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi,
    consequuntur? Iusto dicta adipisci sed esse iste incidunt voluptatum!
    Officia officiis autem accusamus quo, eligendi sequi eum quidem libero
    nostrum nam.
  </h2>
  <ul>
    <li>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quidem,
      sint facere quasi labore maiores. Expedita aliquam eaque vitae libero
      soluta atque, voluptas nemo optio nulla similique! Rem, distinctio cum?
    </li>
  </ul>
</section>
