<section class="section unique-components-section"> 
    <div class="container">
      <h2 class="title unique-components-title">IT ALL ADDS UP TO ONE EXCEPTIONAL <span class="title-brand-color">TASTE</span> SENSATION</h2>
      <p class="unique-components-text">At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one exceptional taste sensation.</p>
    <ul class="unique-components-list ">
      <li class="unique-components-item element-animation">
            <div class="unique-components-front">
              <picture>
              <source srcset="./img/unigue-components/kisspng-milk-chocolate-desc.png 1x, ./img/unigue-components/kisspng-milk-chocolate-desc@2x.png 2x" media="(min-width: 1200px)" type="image/png" width="206" height="160"/>
              <source srcset="./img/unigue-components/kisspng-milk-chocolate-desc.webp 1x, .img/unigue-components/kisspng-milk-chocolate-desc-2x.webp 2x" media="(min-width: 1200px)" type="image/webp" width="224" height="171" />
              <source srcset="./img/unigue-components/kisspng-milk-chocolate.png 1x, ./img/unigue-components/kisspng-milk-chocolate@2x.png 2x" media="(max-width: 1199px)" type="image/png" width="224" height="171"/>
              <source srcset="./img/unigue-components/kisspng-milk-chocolate.webp 1x, ./img/unigue-components/kisspng-milk-chocolate-2x.webp 2x" media="(max-width: 1199px)" type="image/webp" width="224" height="171"/>     
              <img src="./img/unigue-components/kisspng-milk-chocolate.png" alt="milk chocolate" width="224" height="171">
            </picture>
            <h3 class="unique-components-cardname">mILK CHOCOLATE</h3>
          </div>
          <div class="unique-components-back">
            <div class="unique-components-wrapper">
              <div class="unique-components-sticky">
                 <h3 class="unique-components-backcardtitle">Milk chocolate</h3>
                   <p class="unique-components-blocktext">chocolate</p>
                   <p class="unique-components-blocktext">the benefits</p> 
              </div>
               <p class="unique-components-benefitsdesc">Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is the most consumed type of chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold in the United States and Europe, increasingly large amounts are consumed in China and Latin America.</p>
             
            </div></div>  
    </li>
    <li class="unique-components-item">
       <div class="unique-components-front">
          <picture>
          <source srcset="./img/unigue-components/kisspng-milk-desc.png 1x, ./img/unigue-components/kisspng-milk-desc@2x.png 2x" media="(min-width: 1200px)" type="image/png" width="206" height="160"/>
           <source srcset="./img/unigue-components/kisspng-milk-desc.webp 1x, ./img/unigue-components/kisspng-milk-desc-2x.webp 2x" media="(min-width: 1200px)" type="image/webp" width="224" height="171" />
          <source srcset="./img/unigue-components/kisspng-milk.png 1x, ./img/unigue-components/kisspng-milk@2x.png 2x" media="(max-width: 1199px)" type="image/png" width="224" height="171" />
          <source srcset="./img/unigue-components/kisspng-milk.wepb 1x, ./img/unigue-components/kisspng-milk-2x.wepb 2x" media="(max-width: 1199px)" type="image/webp" width="224" height="171"/>     
          <img src="./img/unigue-components/kisspng-milk.png" alt="bottle of milk" width="224" height="171">
        </picture>
        <h3 class="unique-components-cardname">Milk</h3>
       </div>
      <div class="unique-components-back">
        <div class="unique-components-sticky">
          <h3 class="unique-components-backcardtitle">milk </h3>
          <p class="unique-components-blocktext">milk</p>
          <p class="unique-components-blocktext">the benefits</p>
        </div>
        <p class="unique-components-benefitsdesc">Milk is a white liquid food produced by the mammary glands of mammals. It is the primary source of nutrition for young mammals (including breastfed human infants) before they are able to digest solid food.Early-lactation milk, which is called colostrum, contains antibodies that strengthen the immune system,  and thus reduces the risk of many diseases. Milk contains many nutrients, including protein and lactose.</p>
      </div>
  </li>
  <li class="unique-components-item">
          <div class="unique-components-front">
            <picture>
            <source srcset="./img/unigue-components/kisspng-nuts-desc.png 1x, ./img/unigue-components/kisspng-nuts-desc@2x.png 2x" media="(min-width: 1200px)" type="image/png" width="206" height="160"/>
            <source srcset="./img/unigue-components/kisspng-nuts-desc.wepb 1x, ./img/unigue-components/kisspng-nuts-desc-2x.wepb 2x" media="(min-width: 1200px)" type="image/webp" width="224" height="171" />
            <source srcset="./img/unigue-components/kisspng-nuts.png 1x, ./img/unigue-components/kisspng-nuts@2x.png 2x" media="(max-width: 1199px)" type="image/png" width="224" height="171" />
            <source srcset="./img/unigue-components/kisspng-nuts.wepb 1x, ./img/unigue-components/kisspng-nuts-2x.wepb 2x" media="(max-width: 1199px)" type="image/webp" width="224" height="171"/>     
            <img src="./img/unigue-components/kisspng-nuts.png" alt="nuts" width="224" height="171">
          </picture>
          <h3 class="unique-components-cardname">nuts</h3>
          </div>
        <div class="unique-components-back">
          <div class="unique-components-sticky">
            <h3 class="unique-components-backcardtitle">Nuts</h3>
            <p class="unique-components-blocktext">nuts</p>
            <p class="unique-components-blocktext">the benefits</p>
          </div>
          <p class="unique-components-benefitsdesc">Almonds, pistachios, and walnuts are some types of nuts that contain healthy nutrients. When eaten as part of a nutrient-dense diet, these 9 nuts may offer benefits such as reducing your risk of heart disease. They’re a good source of fiber, healthy fats, and plant protein. Plus, they’re great on their own, paired with fruit, or added to dishes like salads, desserts, and grains.</p>
     </div>
</li>
<li class="unique-components-item">
    <div class="unique-components-front">
      <picture>
      <source srcset="./img/unigue-components/kisspng-semi-sweet-chocolate-desc.png 1x, ./img/unigue-components/kisspng-semi-sweet-chocolate-desc@2x.png 2x" media="(min-width: 1200px)" type="image/png" width="206" height="160"/>
      <source srcset="./img/unigue-components/kisspng-semi-sweet-chocolate-desc.webp 1x, ./img/unigue-components/kisspng-semi-sweet-chocolate-desc-2x.webp 2x" media="(min-width: 1200px)" type="image/webp" width="224" height="171" />
      <source srcset="./img/unigue-components/kisspng-semi-sweet-chocolate.png 1x, ./img/unigue-components/kisspng-semi-sweet-chocolate@2x.png 2x" media="(max-width: 1199px)" type="image/png" width="224" height="171" />
      <source srcset="./img/unigue-components/kisspng-semi-sweet-chocolate.webp 1x, ./img/unigue-components/kisspng-semi-sweet-chocolate-2x.webp 2x" media="(max-width: 1199px)" type="image/webp" width="224" height="171"/>     
      <img src="./img/unigue-components/kisspng-semi-sweet-chocolate.png" alt="" width="224" height="171">
    </picture>
    <h3 class="unique-components-cardname">sEMI-SWEET CHOCOLATE</h3>
    </div>
  <div class="unique-components-back">
    <div class="unique-components-sticky">
      <h3 class="unique-components-backcardtitle">sweet chocolate</h3>
      <p class="unique-components-blocktext">sweet chocolate</p>
      <p class="unique-components-blocktext">the benefits</p>
    </div>
    <p class="unique-components-benefitsdesc">Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to gain an understanding of this type of chocolate is to compare it to a different type of chocolate. Semisweet is darker than milk chocolate. In a taste comparison, it has a slightly bitter taste whereas milk chocolate is sweeter and more mellow. This delectable flavor of chocolate is very versatile.</p>
  </div>
  </li>
    </ul>
    </div>
</section>

