.advantages {
  padding-top: 36px;
  padding-bottom: 36px;
  background: #1e1823;
  padding-top: 96px;
  padding-bottom: 96px;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.advantages-list .advantages-head {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.1;
  text-align: left;
  color: #fff;
  margin-bottom: 18px;
}
.advantages-text {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
  gap: 72px;
}
.advantages-title-hide {
  display: none;
}
.advantages-icon {
  margin-bottom: 30px;
  height: 62px;
  width: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .advantages-list {
    gap: 60px;
  }
  .advantages-item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 51px;
    padding-bottom: 51px;
  }
  .advantages-list {
    gap: 88px;
  }
  .advantages-item {
    width: calc((100% - 88px) / 4);
  }
}
