.advantages {
  padding-top: 20px;
  padding-bottom: 20px;
  background: var(--advantages-bgr-color);
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.advantages-list .advantages-head {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  text-align: left;
  color: var(--light-font-color);
  margin-bottom: 18px;
}
.advantages-text {
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: var(--advantage-text-color);
  gap: 72px;
}
.advantages-icon {
  margin-bottom: 30px;
  height: 62px;
  width: 62px;
  border: 1px solid var(--advantage-text-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .advantages-list {
    gap: 60px;
  }
  .advantages-item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list {
    gap: 88px;
  }
  .advantages-item {
    width: calc((100% - 176px) / 3);
    position: relative;
  }
  .advantages-item:not(:last-child)::after {
    content: '';
    width: 1px;
    height: 124px;
    position: absolute;
    display: block;
    left: 340px;
    bottom: 75px;
    background-color: var(--advantage-text-color);
  }
}
.advantages-icon {
  transform: perspective(600);
  transition: transform var(--transition);
}
.advantages-icon:hover {
  transform: perspective(600px) rotateY(180deg);
}
