.footer {
  background-color: #1e1823;
}

.footer-container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer-main-text {
  display: flex;
  flex-direction: column;

  margin-bottom: 32px;

  max-width: 300px;
}

.footer-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  letter-spacing: -0.02em;

  color: #ffffff;

  width: 300px;
  height: 68px;
}

.footer-text-2 {
  color: #fd9222;
}

.footer-contact {
  display: flex;

  padding-bottom: 32px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header-contect-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer-contact-list {
}

.footer-contact-text-1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  margin-bottom: 14px;
}

.test-1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header-connection-1 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;

  color: #ffffff;
}

.footer-contact-text-2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;

  color: #ffffff;
}

.footer-menu {
  padding-top: 32px;
}

.footer-menu-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer-menu-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  letter-spacing: -0.02em;

  color: #ffffff;
}

.footer-networks-container {
}

.footer-networks-list {
  display: flex;
  gap: 14px;
}

.footer-icon {
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  stroke: #ffffff;
  fill: #1e1823;
}

.footer-icon:hover {
  stroke: #fd9222;
}

.footer-menu-text {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-menu-text:is(:hover, :focus) {
  color: #fd9222;
}

.footer-menu-text::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 1px;
  transform: translateY(8px);
  background: #fd9222;
  content: '';
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-menu-text:is(:hover, :focus):after {
  width: 24px;
}

@media screen and (min-width: 375px) {
  .footer-networks-container {
    margin-left: 113px;
  }

  .test-3 {
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 768px) {
  .test-2 {
    display: flex;
    flex-direction: row;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
  }

  .footer-main-text {
    margin-bottom: 54px;
  }

  .footer-text {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;

    letter-spacing: -0.02em;
  }

  .footer-contact {
    border-bottom: 0px;

    margin-left: 124px;
  }

  .footer-contact-list {
    margin-left: 124px;
  }

  .footer-menu {
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    padding-top: 24px;
  }

  .footer-menu-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .test-2 {
    display: flex;
  }

  .footer-networks-list {
    display: flex;
    gap: 18px;
  }

  .footer-networks-container {
    margin-left: 50px;
  }

  .footer-icon {
    display: flex;
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contact-list {
    margin-left: 543px;
  }

  .footer-networks-container {
    margin-left: 63px;
  }

  .footer-contact {
    margin-left: 543px;
  }
}
