/* ЗАГАЛЬНІ НАЛАШТУВАННЯ */
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.29;
    color: var(--main-font-color);
    background-color: var(--modal-btn-bgr-color);
}

.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 72px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
}

.title-brand-color {
  color: var(--accent-color);
}

.title-white {
  color: var(--light-font-color);
}

.title-modal {
  letter-spacing: -0.02em;
  color: var(--light-modal-color);
}

.button {
  border-radius: 100px;
  font-weight: 600;
  padding: 12px 28px;
  font-size: 14px;
  line-height: 1.21;
  background-color: var(--accent-color);
  color: var(--light-font-color);
  border: none;
  transition: background-color var(--transition) ;
  transition-property: color, background-color;
  height: 41px;
}
.button:is(:hover, :focus) {
  background-color: var(--light-modal-color);
  color: var(--accent-color);
}

.button-second{
  border: 1px solid var(--light-font-color);
  background-color: transparent;
  color: var(--light-font-color);
  transition: var(--transition);
}


.button-second.button:is(:hover, :focus) {
  background-color: transparent;
  color: var(--accent-color);
}

/* Налаштування ТІЛЬКИ для мобільної версії і менше */
@media screen and (max-width: 767px) {
  .title {
    font-size: 20px;
    line-height: 1.2;
  }
}

/* Налаштування для ширини екрану MOBILE з 375px до 767 */
@media screen and (min-width: 375px) {
  .container {
    max-width: 365px;
  }
}

/* Налаштування для ширини екрану TABLET з 768px до 1199 */
@media screen and (min-width: 768px) {
  .container {
    max-width: 734px;
  }

  .section {
    padding-top: 100px;
  }
  .title {
    margin-bottom: 50px;
  }
  .button {
    height: 50px;
    padding: 14px 40px;
  }
}

/* Налаштування для ширини екрану DESKTOP від 1200 */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1166px;
  }

  .section {
    padding-top: 128px;
  }
}
