.header {
  position: relative;
  padding-top: 20px;
  padding-bottom: 14px;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.header-logo-text {
  font-weight: 700;
  letter-spacing: -0.03em;
}

.header-logo-text > span {
  font-style: italic;
}

.header-logo-icon {
  width: 21px;
  height: 21px;
}

.header-nav-list,
.header-soc-list {
  display: none;
}

.header-menu-open-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.header-menu-open-icon {
  width: 28px;
  height: 28px;
  stroke: var(--main-font-color);
}

.header-menu.is-hidden {
  visibility: hidden;
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}

.header-menu {
  background-color: var(--advantages-bgr-color);
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  max-width: 220px;
  height: 100%;
  padding: 20px;

  transform: translateX(0);

  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.header-menu-close-btn {
  display: block;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-bottom: 88px;
  margin-left: auto;
}

.header-menu-close-icon {
  width: 28px;
  height: 28px;
  stroke: var(--light-font-color);
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-close-btn:is(:hover, :focus) .header-menu-close-icon {
  width: 40px;
  height: 40px;
  stroke: var(--accent-color);
}

.header-menu-list {
  display: flex;
  max-width: 124px;
  margin-left: 30px;
  justify-content: center;
  flex-direction: column;
  gap: 24px;

  font-weight: 500;
  line-height: calc(16 / 14);

  letter-spacing: -0.02em;

  color: var(--light-font-color);
}
.header-menu-item {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-item:is(:hover, :focus) {
  color: var(--accent-color);
}

.header-menu-item::after {
  content: '';

  position: absolute;
  background: var(--accent-color);
  width: 0;
  height: 1px;
  top: 100%;
  left: 0;
  transform: translateY(8px);
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-item:is(:hover, :focus):after {
  width: 24px;
}

.header-menu-soc {
  display: flex;
  align-items: center;
  gap: 18px;
}

.header-menu-soc-icon {
  fill: var(--light-font-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-soc-item:is(:hover, :focus) .header-menu-soc-icon {
  fill: var(--accent-color);
}

/* ------TABLET------ */

@media screen and (min-width: 768px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-menu-open-icon {
    display: block;
    width: 32px;
    height: 32px;
  }

  .header-menu {
    max-width: 290px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .header-menu-soc-icon {
    width: 32px;
    height: 32px;
  }
}

/* ------DESKTOP------ */

@media screen and (min-width: 1200px) {
  .header {
    padding-bottom: 32px;
  }

  /* .header-wrap {
    justify-content: unset;
  } */
  .header-logo-link {
    margin-right: 188px;
  }
  .header-logo-text {
    font-size: 18px;
    line-height: calc(20 / 18);
  }

  .header-logo-icon {
    width: 24px;
    height: 24px;
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  .header-soc-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
  }

  .header-menu-open-btn {
    display: none;
  }

  .header-nav {
  }
  .header-nav-list {


    font-weight: 500;

    line-height: calc(16 / 14);

    letter-spacing: -0.02em;

    color: var(--main-font-color);

    margin-right: 137px;
  }
  .header-nav-item {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-nav-item:is(:hover, :focus) {
    color: var(--accent-color);
  }

  .header-nav-item::after {
    content: '';

    position: absolute;
    background: var(--accent-color);
    width: 0;
    height: 1px;
    top: 100%;
    left: 0;
    transform: translateY(8px);
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-item:is(:hover, :focus):after {
    width: 24px;
  }
  .header-soc-icon{
    display: block;
    width: 24px;
    height: 24px;
  }

  .header-soc-icon {
    fill: var(--main-font-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-soc-item:is(:hover, :focus) .header-soc-icon {
    fill: var(--accent-color);
  }
}
