.header {
  z-index: 99;
  position: sticky;
  top: 0;

  background-color: var(--modal-btn-bgr-color);
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 14px;
  gap: 4px;
}

.header-logo-text {
  font-weight: 700;
  letter-spacing: -0.03em;
}

.header-logo-text > span {
  font-style: italic;
}

.header-logo-icon {
  width: 21px;
  height: 21px;
}

.header-nav-list,
.header-soc-list {
  display: none;
}

.header-menu-open-btn {
  display: block;
  width: 28px;
  height: 28px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.header-menu-open-icon {
  width: 100%;
  height: 100%;
  stroke: var(--main-font-color);
}

.header-menu.is-hidden {
  visibility: hidden;
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}

.header-menu {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  min-width: 220px;
  height: 100%;
  padding: 20px;
  overflow-y: auto;

  transform: translateX(0);
  background-color: var(--advantages-bgr-color);

  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.header-menu-close-btn {
  display: block;
  margin-bottom: 88px;
  width: 28px;
  height: 28px;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-close-icon {
  width: 100%;
  height: 100%;

  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
  stroke: var(--light-font-color);
}

.header-menu-close-btn:is(:hover, :focus) {
  width: 40px;
  height: 40px;
}

.header-menu-close-btn:is(:hover, :focus) .header-menu-close-icon {
  stroke: var(--accent-color);
}

.header-menu-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  color: var(--light-font-color);

  font-weight: 500;

  letter-spacing: -0.02em;
  line-height: calc(16 / 14);
  gap: 24px;
}

.header-menu-link {
  display: block;
  position: relative;
  transition: color var(--transition);
}

.header-menu-link:is(:hover, :focus) {
  color: var(--accent-color);
}

.header-menu-link::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 1px;
  transform: translateY(8px);
  background: var(--accent-color);
  content: '';
  transition: width var(--transition);
}

.header-menu-link:is(:hover, :focus):after {
  width: 24px;
}

.header-menu-soc {
  display: flex;
  align-items: center;
  gap: 18px;
}

.header-menu-soc-link {
  display: flex;
  align-items: flex-end;
  width: 22px;
  height: 22px;
}

.header-menu-soc-icon {
  transition: stroke var(--transition);
  stroke: var(--light-font-color);
  fill: transparent;
}

.header-menu-soc-link:is(:hover, :focus) .header-menu-soc-icon {
  stroke: var(--accent-color);
}

/* ------TABLET------ */

@media screen and (min-width: 768px) {
  .header-logo-link {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-menu-open-btn {
    width: 32px;
    height: 32px;
  }

  .header-menu {
    min-width: 290px;
    padding-right: 32px;
    padding-left: 32px;
  }
  .header-menu-soc-link {
    width: 32px;
    height: 32px;
  }
  .header-menu-soc-icon {
    width: 100%;
    height: 100%;
  }
}

/* ------DESKTOP------ */

@media screen and (min-width: 1200px) {
  .header {
    position: relative;
    padding: 0;
  }

  .header-logo-link {
    margin-right: 188px;
    padding-top: 24px;
    padding-bottom: 32px;
  }

  .header-logo-text {
    font-size: 18px;
    line-height: calc(20 / 18);
  }

  .header-logo-icon {
    width: 24px;
    height: 24px;
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  .header-nav-list {
    margin-right: 137px;

    color: var(--main-font-color);

    font-weight: 500;

    letter-spacing: -0.02em;

    line-height: calc(16 / 14);
  }

  .header-nav-link {
    display: block;
    position: relative;
    padding-top: 24px;
    padding-bottom: 32px;
    transition: color var(--transition);
  }

  .header-nav-link:is(:hover, :focus) {
    color: var(--accent-color);
  }

  .header-nav-link::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 1px;
    transform: translateY(-24px);
    background: var(--accent-color);
    content: '';
    transition: width var(--transition);
  }

  .header-nav-link:is(:hover, :focus):after {
    width: calc(24 * 100% / 43);
  }

  .header-soc-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
  }

  .header-soc-item {
    padding-top: 24px;
    padding-bottom: 32px;
  }

  .header-soc-link {
    display: block;

    width: 24px;
    height: 24px;
  }

  .header-soc-icon {
    display: block;
    width: 100%;
    height: 100%;
    transition: stroke var(--transition);
    stroke: var(--main-font-color);
    fill: transparent;
  }

  .header-soc-link:is(:hover, :focus) .header-soc-icon {
    stroke: var(--accent-color);
  }

  .header-menu-open-btn {
    display: none;
  }
}
