.hero-box {
  background-color: var(--advantages-bgr-color);
  padding: 395px 20px 20px 20px;
  background-image: linear-gradient(rgba(46, 47, 66, 0), rgba(46, 47, 66, 0)),
    url('../img/hero/chocolate-covered-mobile-1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../img/hero/chocolate-covered-mobile-2x.jpg');
  }
}

.hero {
  padding-bottom: 72px;
}

.hero-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero-subtitle {
  margin-bottom: 32px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%; /* 24/20 */
  letter-spacing: -0.03em;
  color: var(--light-font-color);
}

.hero-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 14px 10px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}


.hero-btn {
  border: 1px solid var(--light-font-color) ;
  background-color: transparent;
  color: var(--light-font-color);
  transition:  var(--transition);
}

.hero-btn:hover,
.hero-btn:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  background-color: transparent;
}

.hero-scroll-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 116.666667%; /* 14/12 */
  letter-spacing: -0.03em;
  color: var(--light-font-color);
  transition:  var(--transition);
}

.hero-btn-scroll {
  display: flex;
  gap: 14px;
  cursor: pointer;
  align-items:center;
  max-width: 110px;
}

.hero-scroll-icon {
  height: 28px;
  width: 28px;
  background-color: var(--light-font-color);
  border-radius: 50%;
  fill: var(--accent-color);
  transition:  var(--transition);
}

a:hover .hero-scroll-text,
a:focus .hero-scroll-text {
    color: var(--accent-color)
}

 a:hover .hero-scroll-icon,
 a:focus .hero-scroll-icon {
  background-color:var(--accent-color);
  fill: var(--light-font-color);
}





/* Mobile */
@media screen and (min-width: 375px) {
}

/* Tablet */
@media screen and (min-width: 768px) {
 

  .hero-btn-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero-btns {
    gap: 14px;
    justify-content: unset;
    margin-bottom: 0;
  }

  .hero-box {
    padding: 671px 40px 40px 40px;
    background-image: linear-gradient(rgba(46, 47, 66, 0), rgba(46, 47, 66, 0)),
      url('../img/hero/chocolate-covered-tablet-1x.jpg');
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../img/hero/chocolate-covered-tablet-2x.jpg');
    }
  }

  .hero-subtitle {
    max-width: 484px;
    font-size: 28px;
    line-height: 121.428571%; /* 34/28 */
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
 

  .hero-box {
    padding: 381px 40px 40px 40px;
    background-image: linear-gradient(rgba(46, 47, 66, 0), rgba(46, 47, 66, 0)),
      url('../img/hero/chocolate-covered-desktop-1x.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../img/hero/chocolate-covered-desktop-2x.jpg');
    }
  }
}
