.how-made-section {
  background-color: #fafafa;
  /* change on var main-bgr-color */
}

.title-accent-color {
  color: var(--accent-color);
}
.how-made-video-box {
  border-radius: 15px;
  overflow: hidden;
}

.how-made-text-box {
  border-radius: 15px;
  background-color: #fff;
}
.how-made-text {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: var(--main-font-color);
  margin-bottom: 20px;
}

.how-made-item {
  display: flex;
  align-items: baseline;
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--main-font-color);
}
.how-made-item:last-child {
  margin-bottom: 0;
}

.how-made-pretext {
  display: inline-block;
}

.how-made-item::before {
  display: inline-block;
  flex-shrink: 0;
  content: '';
  margin-right: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}
.how-made-poster {
  position: relative;
  z-index: 1;
}

.poster-container picture,
.poster-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.poster-container img {
  object-fit: cover;
  cursor: pointer;
}

.how-made-play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #f5f4f4;
  z-index: 1;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.how-made-is-hidden {
  opacity: 0;
  pointer-events: none;
}

@media screen and (max-width: 767px) {
  .how-made-video-box {
    margin-bottom: 20px;
    max-width: 335px;
    height: 500px;
  }

  .video-container {
    width: 100%;
    height: 100%;
  }

  .how-made-video {
    max-width: 100%;
    height: auto;
    z-index: 0;
  }

  .how-made-text-box {
    padding: 20px 14px;
  }
}

@media screen and (min-width: 768px) {
  .how-made-container {
    width: 644px;
  }

  .how-made-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .how-made-video-box {
    width: 614px;
    height: 400px;
  }

  .how-made-video {
    width: 614px;
    height: 400px;
  }
  .how-made-poster {
    width: 614px;
    height: 400px;
  }
  .how-made-text-box {
    padding: 32px 102px 32px 32px;
  }
}

@media screen and (min-width: 1200px) {
  .how-made-container {
    width: 1166px;
  }
  .how-made-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .how-made-video-box {
    width: 600px;
    height: 400px;
  }
  .video-container {
    width: 600px;
    height: 400px;
  }
  .how-made-video {
    width: 600px;
    height: 400px;
  }
  .how-made-poster {
    width: 600px;
    height: 400px;
  }
  .how-made-text-box {
    padding-right: 59px;
    width: 516px;
  }
  .how-made-item {
    margin-bottom: 24px;
  }
}
