/* .no-scroll {
    overflow: hidden;
} */
.overlay {
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
    transition: 0.3s all;
}

.modal-hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 311px;
    height: 350px;
    background: var(--accent-color);
    background-image: url(../img/modal-hero/mod-chocolate-mob-1.png);    
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: bottom 0 left 0;
}
.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
    z-index: 30;
}
@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .modal-hero {
        background-image: url(../img/modal-hero/mod-chocolate-mob-2.png);
    }
}

.modal-hero-title {
    margin-top: 42px;
    margin-left: 68px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #FCF1E0;
}
.modal-hero-text {
    margin-top: 8px;
    margin-left: 68px;
    width: 219px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: #FCF1E0;
}


.is-hidden{
    opacity: 0;
}
.modal-hero-close {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-top: 14px;
    margin-right: 14px;
    width: 28px;
    height: 28px;
    background-color: var(--light-modal-color);
    color: var(--accent-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer; 

    transition-property: background-color;
    transition: var(--transition);
}
.modal-hero-close-icon{
    stroke: currentColor;
}
.modal-hero-close:is(:hover, :focus){
    background-color: var(--accent-color);   
    color: var(--light-modal-color); 
}

.modal-feedback {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 311px;
    height: 350px;
    background: var(--accent-color);
    background-image: url(../img/modal-hero/mod-chocolate-mob-1.png);
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: bottom 0 left 0;
}
@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .modal-feedback {
        background-image: url(../img/modal-hero/mod-chocolate-mob-2.png);
    }
}
.modal-feedback-close {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-top: 14px;
    margin-right: 14px;
    width: 28px;
    height: 28px;
    background-color: #FCF1E0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    color: var(--accent-color);

    transition-property: background-color;
    transition: var(--transition);
}

.modal-feedback-close-icon{
    stroke:currentColor;
}
.modal-feedback-close:is(:hover, :focus){
    background-color: var(--accent-color);
    color: var(--light-modal-color);
}

.modal-feedback-title {
    margin-top: 42px;
    margin-left: 68px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #FCF1E0;
}

.modal-feedback-text {
    margin-top: 8px;
    margin-left: 68px;
    width: 219px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: #FCF1E0;
}
.modal {
    opacity: 0;
    visibility: hidden;
    z-index: 20;
}
@media screen and (min-width: 768px){
    .modal-hero{
        width: 516px;
        height: 414px;
        background-image: url(../img/modal-hero/modal-chocolate-tab-desk-1.png);
    }
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .modal-hero {
            background-image: url(../img/modal-hero/modal-chocolate-tab-desk-2.png);
        }
    }
    .modal-hero-title{
        margin-top: 90px;
        margin-left: 163px;
        font-size: 24px;
        line-height: 1.17;        
    }
    .modal-hero-text {
        margin-top: 8px;
        margin-left: 163px;
        width: 309px;
        font-size: 18px;
        line-height: 1.33;
    }
    .modal-hero-close {
        margin-top: 24px;
        margin-right: 24px;
        width: 40px;
        height: 40px;
    }

    .modal-feedback {
        width: 516px;
        height: 414px;
        background-image: url(../img/modal-hero/modal-chocolate-tab-desk-1.png);
    }
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .modal-feedback {
            background-image: url(../img/modal-hero/modal-chocolate-tab-desk-2.png);
        }
    }

    .modal-feedback-close {
        margin-top: 24px;
        margin-right: 24px;
        width: 40px;
        height: 40px;
    }
    
    .modal-feedback-title {
        width: 276px;
        margin-top: 99px;
        margin-left: 170px;
        font-size: 24px;
        line-height: 1.17;
    }
    
    .modal-feedback-text {
        margin-left: 170px;
        width: 309px;
        font-size: 18px;
        line-height: 1.33;
    }
}

