.overlay {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  opacity: 0;
  visibility: hidden;
  z-index: 30;

  border-radius: 15px;
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-leave-review {
  width: 311px;
  height: 471px;

  background-color: #fafafa;
}

.btn-wrap {
  display: flex;
}
.btn-close-leave-review {
  margin-left: auto;
  margin-right: 14px;
  margin-top: 14px;

  background-color: inherit;
  border: none;
  cursor: pointer;
  font: inherit;
  padding: 0;
}
.icon-close-leave-review {
  stroke: black;
}
.container-modal-leave-review {
  padding: 0 24px;
}
.title-modal-leave-review {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  margin-bottom: 32px;
}
.accent-title-modal-leave-review {
  color: #fd9222;
}
.form-modal-leave-review {
}

.form-field-modal-leave-review {
  margin-bottom: 14px;
}
.message-form-field-modal-leave-review {
  margin-bottom: 18px;
}

.input-modal-leave-review {
  padding-top: 14px;
  padding-left: 18px;
  padding-bottom: 14px;

  width: 100%;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));

  outline: transparent;
}

.iti--separate-dial-code .iti__selected-flag {
  background-color: inherit;
}

.iti {
  width: 100%;
}

.message-modal-leave-review {
  width: 100%;
  height: 91px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  padding-top: 14px;
  padding-left: 18px;
  padding-bottom: 14px;

  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;

  resize: none;

  outline: transparent;
}

.text-input-modal-leave-review {
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
}

.btn-modal-review {
  padding: 12px 18px;
  min-width: 93px;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #ffffff;

  background: #fd9222;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}
@media (max-height: 471px) {
  .modal-leave-review {
    height: 100%;
    overflow: auto;
  }
}
.message-modal-leave-review {
  height: auto;
}

@media screen and (max-width: 310px) {
  .modal-leave-review {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .modal-leave-review {
    width: 517px;
    height: 631px;
  }

  .message-modal-leave-review {
    height: 137px;
  }

  .title-modal-leave-review {
    margin-bottom: 40px;
    font-size: 20px;
    width: 250px;
  }

  .line-break-title-modal-leave-review {
    display: none;
  }

  .form-field-modal-leave-review {
    margin-bottom: 19px;
  }
  .input-modal-leave-review {
    padding-top: 22px;
    padding-left: 24px;
    padding-bottom: 22px;
  }

  .text-input-modal-leave-review {
    font-size: 18px;
    line-height: 1.22;
  }

  @media (max-height: 631px) {
    .modal-leave-review {
      height: 100%;
      overflow: auto;
    }
  }
}
