/* Слайдер */

.buynow-slider {
  width: 231px;
  min-height: 196px;
  margin: 0 auto;
}
.buynow-slider .slick-list {
  margin-bottom: 14px;
  overflow: hidden;
}

.buynow-slider .slick-track {
  width: 100%;
  display: flex;
  gap: 16px;
}

.buynow-slider .slick-dots {
  width: 106px;
}

.buynow-product {
  width: 231px;
  background: var(--light-font-color);
  border: 1px solid var(--border-transparent-color);
  border-radius: 15px;
  padding: 32px 32px 28px;
  text-align: center;
}

.buynow-product img {
  margin-bottom: 16px;
}

.buynow-label:first-child {
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .buynow-slider {
    width: 100%;
    margin: 0 auto;
  }
  .buynow-slider .slick-dots {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    margin: -1px;
  }
  .buynow-product {
    width: 160px;
    padding: 20px 24px 18px;
  }
}

/* Слайдер */

.buynow {
  min-width: 311px;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--modal-btn-bgr-color);
  height: 100%;
  overflow: auto;
}
.buynow-counteiner {
  width: 100%;
  padding: 32px 24px;
}
.buynow-close-modal {
  position: absolute;
  right: 14px;
  top: 14px;
  background-color: transparent;
  border-color: transparent;
  padding: 0;
}
.buynow-close {
  stroke: var(--main-font-color);
}
.buynow-title {
  color: var(--accent-color);
}
.buynow-title-now {
  color: var(--main-font-color);
}
/* .buynow-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 100%;
  margin-bottom: 60px;
} */
/* .buynow-item {
  background-color: var(--light-font-color);
  padding: 32px 32px 28px;
  border-radius: 15px;
  min-width: 231px;
} */
/* .buynow-list > .buynow-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.buynow-button {
  min-width: 94px;
  min-height: 33px;
  background: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--main-font-color);
}

.buynow-form {
  display: flex;
  flex-direction: column;
}
.buynow-label {
  margin-top: 18px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: -0.02em;
  color: #000000;
}
.buynow-label:first-child {
  margin-top: 40px;
}

.buynow-comment {
  resize: none;
  height: 91px;
  margin-bottom: 18px;
}
.buynow-submit {
  max-width: 110px;
  border-color: transparent;
}
.buynow-name {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.buynow-marg {
  margin-bottom: 0;
}
.input-buynow-wrap {
  position: relative;
}
.buynow-mcard {
  position: absolute;
  top: 12px;
  right: 14px;
}

@media (min-height: 1008px) {
  .buynow {
    height: 1007px;
  }
}

@media screen and (max-width: 767px) {
}
@media screen and (min-width: 768px) {
  @media (min-height: 1058px) {
    .buynow {
      height: 1058px;
    }
  }
  .buynow {
    width: 609px;
  }
  .buynow-counteiner {
    padding: 48px;
  }
  /* .buynow-list {
    max-width: 513px;
  } */
  /* .buynow-item {
    padding: 24px 20px 0;
    min-width: 160px;
  } */
  /* .buynow-item {
    padding: 24px 20px 18px;
    width: calc((100% - 32px) / 3);
  } */
  .buynow-img {
    margin-bottom: 14px;
  }
  .buynow-title {
  }
  .buynow-form {
  }
  .buynow-name {
    flex-direction: row;
    justify-content: space-between;
    min-width: calc((100% - 21px) / 2);
    gap: 21px;
  }
  .buynow-submit {
    max-width: 133px;
  }
  .buynow-mcard {
    top: 18px;
    right: 24px;
    width: 44px;
    height: 30px;
  }
  .buynow-comment {
    height: 137px;
  }
  .buynow-label {
    font-size: 14px;
    line-height: calc(18 / 14);
  }
}
@media screen and (min-width: 1200px) {
}
