.modal-subscribe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 311px;
    height: 350px;
    background: #FAFAFA;
    border-radius: 15px;  
    background-image: url(../img/modal-hero/bar-chocolate-mob-1.jpg);
    background-repeat: no-repeat;
    background-position: top 0 left 0;
}
.is-hidden {
    opacity: 0;
}
.modal-subscribe-close {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-top: 21px;
    margin-right: 20px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* border-radius: 50%; */
    cursor: pointer;

}
.modal-subscribe-close-icon{
    stroke: #FFFFFF;
}
.modal-subscribe-title{
    margin-top: 162px;
    width: 263px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}
.modal-subscribe-wrap{
    margin-top: 24px;
    margin-right: 24px;
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.modal-subscribe-but{
    width: 100px;
    border-radius: 100px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    background: var(--accent-color);
    color: #FAFAFA;
}