.modal-review {
  width: 311px;
  min-height: 471px;
  z-index: 100;

  background-color: var(--modal-btn-bgr-color);
}

.modal-review-btn-close {
  position: absolute;
  right: 14px;
  top: 14px;

  background-color: transparent;
  border: none;
  padding: 0;

  stroke: var(--main-font-color);
}

.modal-review-container {
  padding: 32px 24px;
}

.modal-review-title {
  color: var(--main-font-color);
  text-align: left;
}

.modal-review-title-accent {
  color: var(--accent-color);
}

.modal-review-message-form-field {
  margin-bottom: 18px;
}

.iti--separate-dial-code .iti__selected-flag {
  background-color: inherit;
  display: flex;
}

.iti--separate-dial-code .iti__selected-flag::after {
  content: '';
  height: 32px;
  width: 1px;
  background-color: var(--border-transparent-color);
}

.iti__flag {
  margin-right: 18px;
}

.iti__arrow {
  margin-right: 2px;
}

.iti {
  width: 100%;
  font-weight: 500;
}

.modal-review-text-input {
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;

  margin-bottom: 14px;
}

.modal-review-message {
  height: 91px;
  margin-top: 14px;
  margin-bottom: 18px;
}

@media screen and (max-width: 310px) {
  .modal-review {
    width: 100%;
  }
}

@media (max-height: 472px) {
  .modal-review {
    min-height: 0;
    height: 100%;
    overflow: auto;
  }
}

@media screen and (min-width: 768px) {
  .modal-review {
    width: 517px;
    min-height: 631px;
  }
  .modal-review-container {
    padding: 40px;
  }

  .modal-review-btn-close {
    right: 24px;
    top: 24px;
  }
  .modal-review-message {
    height: 137px;
  }

  .modal-review-title {
    margin-bottom: 40px;
    width: 300px;
  }

  .modal-review-line-break-title {
    display: none;
  }

  .modal-review-text-input {
    font-size: 18px;
    line-height: 1.22;

    margin-bottom: 19px;
  }

  .iti__selected-flag {
    padding-left: 24px;
  }

  .iti__selected-flag {
    margin-right: 18px;
  }

  .iti__arrow {
    margin-right: 13px;
  }
  @media (max-height: 631px) {
    .modal-review {
      min-height: 0;
      height: 100%;
      overflow: auto;
    }
  }
}
