.products-card {
    background: #FFFFFF;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    padding: 32px 52px;
    text-align: center;
}

.products-card img {
    margin-bottom: 8px;
}

.products-name {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111111;
    margin-bottom: 2px;
}

.products-description {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
    margin-bottom: 18px;
}

.products-btn {
    min-width: 94px;
    min-height: 33px;
    background: #FAFAFA;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: #111111;
}

.products-grid .slick-list {
    overflow: hidden;
    margin-bottom: 20px;
}

.products-grid .slick-track {
    display: flex;
    gap: 20px;
}

.products-grid .slick-dots {
    max-width: 210px;
}


/* test */
/* .products-wrapper{
    position: relative;
    width: 100vh;
    height: 409px;
}


@media screen and (max-width: 11199px) {
    .products-grid {
            position: absolute;
    }
} */
 

@media screen and (min-width: 375px) {
    .products-card {
        width: 335px;
    }

}

@media screen and (min-width: 768px) {
    .products-card {
        width: 270px;
        padding: 32px 20px;
    }
    .products-grid .slick-list {
        margin-bottom: 32px;
    }

    .products-grid .slick-track {
        gap: 18px;
    }
}

@media screen and (min-width: 1200px) {
    .products-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 18px 18px;
    }
}


