.section-review {
  text-align: center;
}
.review-list {
  margin-bottom: 32px;
} 
.review-item {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.review-wrap {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: var(--light-font-color);
  border: 1px solid var(--border-transparent-color);
  box-shadow: 0px 9.04932px 26.5717px var(--shadow-color);
  border-radius: 15px;
  padding: 56px 18px 0;
}
.reviewer-img {
  position: absolute;
  top:-40px;
  left:calc(50% - 40px);
}
.review-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: var(--main-font-color);
  margin-bottom: 24px;
}
.review-text {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--main-font-color-transparent);
}
.review-slider .slick-list{
  margin-bottom: 20px;
  overflow: hidden;
  display: block;
}
.review-slider .slick-track {
  width: 100%;
  display: flex;
  gap: 16px;
}
.review-slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  height: 13px;
}
.review-slider .slick-dots button {
  height: 13px;
  width: 13px;
  background-color: var(--border-transparent-color);
  font-size: 0;
  border-radius: 50%;
  border: none;
}
.review-slider .slick-dots .slick-active button {
  width: 28px;
  background-color: var(--accent-color);
  border-radius: 40%;
  height: 13px;
} 
.review-btn {
  background-color: transparent;
  border: 1px solid var(--accent-color);
  color: var(--main-font-color);
}
.review-btn:hover,
.review-btn:focus {
  background-color: var(--accent-color);
  color: var(--light-font-color);
}

@media screen and (min-width: 768px) {
  .review-list {
    margin-bottom: 50px;
  }   
  .review-item {
    width: calc((100% - 30px - 16px) / 2);
  }
  .review-wrap {
    padding: 56px 16px 0;
  }
  .review-slider .slick-list{
    margin-bottom: 32px;
  }
  .review-slider .slick-track {
    gap: 16px;
  }
  .review-btn {
    height: 50px;
    font-size: 18px;
    line-height: 1.22;
  }
}
@media screen and (min-width: 1200px) {
  .review-item {
    width: calc((100% - 30px - 2 * 28px) / 3);
  }
  .review-wrap {
    padding: 56px 24px 0;
  }
  .review-slider .slick-track {
    gap: 28px;
  }
}
