.section-review {
  text-align: center;
}
.review-list {
  margin-bottom: 32px;
} 
.review-wrap {
  width: 335px;
  position: relative;
  
  height: 200px;
  background-color: var(--light-font-color);
  border: 1px solid var(--border-transparent-color);
  box-shadow: 0px 9.04932px 26.5717px var(--shadow-color);
  border-radius: 15px;
  padding: 56px 18px 26px;
}
.reviewer-img {
  position: absolute;
  top:-40px;
  left:calc(50% - 40px);
}
.review-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: var(--main-font-color);
  margin-bottom: 24px;
}
.review-text {
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--main-font-color-transparent);
}
.review-slider .slick-list{
  margin-bottom: 20px;
  overflow: hidden;
  display: block;
}
.review-slider .slick-track{
  width: 100%;
  display: flex;
  gap: 16px;  
  height: 242px;
  align-items: flex-end;
}
.review-slider .slick-dots {
 width: 106px;
}
.review-btn {
  background-color: transparent;
  border: 1px solid var(--accent-color);
  color: var(--main-font-color);
}
.review-btn:hover,
.review-btn:focus {
  background-color: var(--accent-color);
  color: var(--light-font-color);
}

@media screen and (min-width: 768px) {
  .review-wrap {
    width: 344px;
  }
  .review-list {
    margin-bottom: 50px;
  } 
  .review-slider .slick-list{
    margin-bottom: 32px;
  }
  .review-response {
    padding: 56px 16px 26px;
  }
  .review-btn {
    height: 50px;
    font-size: 18px;
    line-height: 1.22;
  }
}
@media screen and (min-width: 1200px) {
  .review-wrap {
    width: 360px;
  }
  .review-slider .slick-track{
    gap: 28px;  
  }
  .review-response {
    padding: 56px 24px 26px;
  }
}
