.subscribe-section {
  background-color: var(--advantages-bgr-color); 
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 767px){
  .subscribe-section {
    max-width: 375px;
    margin: 0 auto;
    background: url(../img/img-subscribe/Subcribe-mob.jpg),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    background-repeat: no-repeat;
    background-size: cover;

  }
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .subscribe-section {
      background-image: url(../img/img-subscribe/Subcribe-mob2x.jpg),
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
    }
  }
}
.subscribe-container {
  padding: 62px 20px;
  text-align: center;
}

.subscribe-title {
  color: var(--light-font-color);
  margin-bottom: 24px;
}

.subscribe-text {
  letter-spacing: -0.02em;
  color: var(--light-font-color);
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .subscribe-section {
    width: 768px;
    background: url(../img/img-subscribe/Subcribe-tab.jpg),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    background-size: cover;
  }
  .subscribe-container {
    min-width: 768px;
    padding: 72px 151px;
  }
}

@media screen and (min-width: 768px) {
  .subscribe-section {
    background: url(../img/img-subscribe/Subcribe-tab.jpg),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .subscribe-section {
      background-image: url(../img/img-subscribe/Subcribe-tab2x.jpg),
        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    }
  }

  .subscribe-title {
    width: 378px;
    margin: 0 auto 24px;
  }
  .subscribe-text {
    width: 467px;
    color: var(--light-font-color);
    margin: 0 auto 24px;
  }
  .subscribe-send {
    min-height: 50px;
    font-size: 18px;
    line-height: 1.22;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-section {
    width: 1200px;
    background: url(../img/img-subscribe/Subcribe-desk.jpg),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .subscribe-section {
      background-image: url(../img/img-subscribe/Subcribe-desk2x.jpg),
        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    }
  }
}
