   .components-title {
    max-width: 283px;
    margin: 0 auto 24px;
  }
  
  .components-text,
  .components-benefitsdesc {
    margin-bottom: 32px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
  }
  
  .components-item {
    position: relative;
    text-align: center;
    width: 100%;
    height: 270px;
    max-width: 335px;
    cursor: pointer;
    transition: transform var(--transition);
  }
  .components-item + .components-item {
    margin-top: 20px;
  }
  
  .components-front {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 28px;
    backface-visibility: hidden;
    transition: transform var(--transition);
    transform: perspective(600px) rotateY(0deg);
  }
  .components-item:is(:hover, :focus) .components-front {
    transform: rotateY(-180deg);
  }
  .components-item:nth-child(4n + 1) .components-front {
    background-color: var(--accent-color);
    color: var(--light-font-color);
  }
  
  .components-item:nth-child(2n) .components-front {
    border: 1px solid var(--accent-color);
    background-color: var(--light-font-color);
  }
  
  .components-item:nth-child(3n) .components-front {
    background-color: var(--advantages-bgr-color);
    color: var(--light-font-color);
  }
  
  .components-section img {
    margin: 0 auto 25px;
  }
  
 .components-cardname {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: left;
  }
  
  .components-wrapper {
    height: 100%;
    overflow: hidden;
    overflow: auto;
  }
  
  .components-back {
    height: 100%;
    top: 0;
    left: 0;
    text-align: left;
    overflow: auto;
    background-color: var(--light-font-color);
    border-radius: 15px;
    padding: 28px;
    backface-visibility: hidden;
    transition: transform var(--transition);
    transform: perspective(600px) rotateY(-180deg);
  }
  .components-item:is(:hover, :focus) .components-back {
    transform: rotateY(0deg);
  }
  .components-backcardtitle {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }
  
  .components-sticky {
    position: sticky;
    top: 0;
    padding-bottom: 14px;
    background-color: var(--light-font-color);
  }
  
  .components-blocktext {
    display: inline-block;
    padding: 6px 16px;
    font-size: 10px;
    line-height: 1.2;
    margin-right: 6px;
    border-radius: 35px;
    border: 1px solid var(--accent-color);
  }
  .components-block-last .components-blocktext {
    padding: 6px 12px;
  }
  
  .components-blocktext:last-child {
    margin-right: 0;
  }
  
  .components-blocktext:nth-child(2n + 1) {
    background-color: var(--accent-color);
    color: var(--light-font-color);
  }
  
  .components-blocktext:nth-child(even) {
    color: var(--main-font-color);
  }
  
  .components-benefitsdesc {
    text-align: left;
  }
  
  @media screen and (min-width: 768px) {
    .components-title {
      max-width: 411px;
      margin: 0 auto 28px;
    }
  
    .components-text {
      margin: 0 auto 50px;
      width: 487px;
    }
  
    .components-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 32px;
    }
  
    .components-item + .components-item {
      margin-top: 0;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .components-list {
      flex-wrap: nowrap;
      gap: 19px;
    }
    .components-item {
      width: 270px;
    }
  }