:root {
  --main-bgr-color: #e2e2e2;
  --advantages-bgr-color: #1E1823;
  --accent-color: #fd9222;
  --main-font-color: #111111;
  --light-font-color: #fff;
  --light-modal-color: #FCF1E0;
  --modal-btn-bgr-color: #FAFAFA;
  --main-font-color-transparent: rgba(17, 17, 17, 0.7);
  --border-transparent-color: rgba(17, 17, 17, 0.1);
  --shadow-color: rgba(215, 228, 249, 0.25);
  --font-second: 'Roboto', sans-serif;
  --transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  --scroll-thumb-color: #F16529;
}