:root {
  --main-bgr-color: #e2e2e2;
  --advantages-bgr-color: #1e1823;
  --accent-color: #fd9222;
  --main-font-color: #111111;
  --light-font-color: #fff;
  --light-modal-color: #fcf1e0;
  --modal-btn-bgr-color: #fafafa;
  --main-font-color-transparent: rgba(17, 17, 17, 0.7);
  --border-transparent-color: rgba(17, 17, 17, 0.1);
  --shadow-color: rgba(215, 228, 249, 0.25);
  --transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  --scroll-thumb-color: #f16529;
  --advantage-text-color: rgba(255, 255, 255, 0.5);
}
